name: Check Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        framework: ['net10.0']
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - uses: actions/checkout@v2

      # Set up .NET SDK
      - uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '10.0.x'

      # Restore dependencies
      - name: Restore dependencies
        run: dotnet restore src/SIPSorcery.OpenAI.WebRTC.csproj

      # Build the project
      - name: Build
        run: dotnet build src/SIPSorcery.OpenAI.WebRTC.csproj -c Release --no-restore

